---
layout: default
---
<div class="set-layout">
    <ul class="post-list">
        {% for post in site.categories.privacy reversed %}
            {% if post.tags[0] == 'all' %}
            <li>
                <!--<span class="post-meta">{{ post.categories[0] }} / {{ post.categories[1] }}</span>-->
                <a class="depth1" href="{{ post.url | prepend: site.baseurl }}">{{ post.code }} <span>{{ post.title }}</span></a>
                <ul>
                    {% for post in site.categories.privacy reversed %}
                        {% if post.tags[0] <> 'all' %}
                        <li>
                            <!--<span class="post-meta">{{ post.categories[0] }} / {{ post.categories[1] }}</span>-->
                            <a class="depth1" href="{{ post.url | prepend: site.baseurl }}">{{ post.code }} <span>{{ post.title }}</span></a>
                        </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </li>
        {% endif %}
        {% endfor %}
    </ul>
    <article class="post" itemscope itemtype="http://schema.org/BlogPosting">

      <header class="post-header">
        <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
        <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
      </header>


      <div class="post-content" itemprop="articleBody">
        {{ content }}
      </div>

    </article>
</div>